<h3>Create Customer</h3>

<div [hidden]="submitted" style="width:300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" [(ngModel)]="customer.name" required/>
    </div>

    <div class="form-group">
      <label for="age">Age: </label>
      <input type="number" id="age" name="age" [(ngModel)]="customer.age" required/>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-primary" (click)="newCustomer()">Add</button>
</div>
